:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: rgb(137, 176, 137);
}
body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  margin: 0;
  font-family: sans-serif;
}

.container {
  margin: 20px auto;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
}

.btn {
  cursor: pointer;
  background-color: #18340b;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s;
}

.list li:hover .delete-btn {
  background: black;
}
.AccBox {
  width: 90vw;
  max-width: 400px;
}
p.SignedIn {
  margin: 0px;
  margin-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid green;
  background-color: rgb(131, 180, 131);
  color: white;
  padding: 5px;
  border-radius: 2px;
}
.HeaderCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button.Logout {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;

  background: rgb(45, 45, 45);
}
.Logout:hover {
  opacity: 80%;
}
.LoginBtn {
  border: none;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid green;
  color: rgb(19, 124, 7);
  width: 150px;
}
.LoginBtn:hover {
  opacity: 60%;
}
div.GoTracker {
  display: flex;
  margin-top: 20px;
  align-items: center;
  color: black;
  justify-content: center;
  margin: 10px;
  text-transform: uppercase;
}
.GoTracker:hover {
  opacity: 50%;
  cursor: pointer;
}
div.GoTracker a {
  color: rgb(52, 52, 52);
}
